before_script:
  - export LANG=en_US.UTF-8
before_install:
  - brew update
  - brew upgrade xctool
  - cd $TRAVIS_BUILD_DIR/LigerTestApp
language: objective-c
install: ''
xcode_workspace: Liger.xcworkspace
xcode_scheme: Liger
# Build
script:
  - xctool -workspace Liger.xcworkspace -scheme Liger build test
  - cd $TRAVIS_BUILD_DIR
  - ./ci/release.sh
env:
  global:
    secure: CXZLR1qHacxaujdiOIscOIgxH2R8oK9wNdUZ53UL+5DTK1tmTV39dF0qUhr5buUI4xVefK/CWhXZyuPo2ISk9diLGXXDMzJEhKkNY0K3SrtL6XtHMLlv4rFlXEDs+EKoeEaGkmp9ND/oP4/YgmsKXDwqN8fTZ9pEibspAhZ5ys4=
